# Node / Python

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
ENV/
env.bak/
venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backend artifacts
*.sqlite3
instance/

# Frontend
node_modules/
dist/
/.vite

# Environment files
.env
backend/.env

# Logs
*.log
coverage/
